@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew-webfont.eot');
    src: url('thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('thsarabunnew-webfont.woff') format('woff'),
         url('thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew_bolditalic-webfont.eot');
    src: url('thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('thsarabunnew_bolditalic-webfont.woff') format('woff'),
         url('thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew_italic-webfont.eot');
    src: url('thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('thsarabunnew_italic-webfont.woff') format('woff'),
         url('thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('thsarabunnew_bold-webfont.eot');
    src: url('thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thsarabunnew_bold-webfont.woff') format('woff'),
         url('thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
.thsarabunnew12n{
   font-family: 'THSarabunNew', sans-serif;
   font-size:12px;
}
.thsarabunnew14n{
   font-family: 'THSarabunNew', sans-serif;
   font-size:14px;
}
.thsarabunnew14b{
   font-family: 'THSarabunNew', sans-serif;
   font-size:14px;
   font-weight:bold;
}
.thsarabunnew16n{
   font-family: 'THSarabunNew', sans-serif;
   font-size:16px;
}
.thsarabunnew16b{
   font-family: 'THSarabunNew', sans-serif;
   font-size:16px;
   font-weight:bold;
}
.thsarabunnew24b{
   font-family: 'THSarabunNew', sans-serif;
   font-size:24px;
   font-weight:bold;
}